@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Netflix Sans";
  src: local('NetflixSansLight'), url('./fonts/NetflixSansLight.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: "Netflix Sans";
  src: local('NetflixSansRegular'), url('./fonts/NetflixSansRegular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: "Netflix Sans";
  src: local('NetflixSansMedium'), url('./fonts/NetflixSansMedium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: "Netflix Sans";
  src: local('NetflixSansBold'), url('./fonts/NetflixSansBold.otf') format('opentype');
  font-weight: 700;
} */


body {
  background-color: #000000;
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
